.container
{
    height:1500px;
    background:lightgrey;
}
.sticky-header
{
    position:sticky;
    top:0;
    background-color:goldenrod;
    padding: 5px;
    font-size:50px;
    width: 200px;
    left: 500px;
}
.container
{
    padding-top: 100px;
}
